* {
    box-sizing: border-box;
}
/*header grid*/
.nafn{
    grid-area: nafn;
}
.logo{
    grid-area: logo;
}
.hed1{
    grid-area: hed1;
}
.hed2{
    grid-area: hed2;
}
.hed3{
    grid-area: hed3;
}
/*main grid*/
.general{
    grid-area: general;
}
.dlc{
    grid-area: dlc;
}
.mobile{
    grid-area: moblie
}

/*footer grid*/
.listi{
    grid-area: listi;
}
.heimildir{
    grid-area: heimildir;
}
.maps{
    grid-area: maps;
}


/*----------------------------------------------------------------------------------------------------------------*/
body{
    margin: 0;
    background-color: white;

}
.logo{
    width: auto;
    height: 50px;
    float: right ;
}
line{
     border: solid rgb(165, 165, 165) 2px;
}
/*.shortcuts{
    font-family: 'Special Elite', cursive;
    text-align: right;
}*/
.hed1,.hed2,.hed3{
    border: gray solid 1.5px;
    margin: .25em;
    text-align: center;
}
header{
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
    "nafn nafn nafn"
    "hed1 hed2 hed3";
}

.general{
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    color: black;
    border: solid rgb(165, 165, 165) 2px;
    /*background: rgba(0, 0, 0, .6);*/
}

.dlc{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    color: black;
    border: solid rgb(165, 165, 165) 2px;
    /*background: rgba(0, 0, 0, .6);*/
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
}
.dlc>dt,.mobile>dt{
    line-height: 120%;
}
.mobile{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    border: solid rgb(165, 165, 165) 2px;
    /*background: rgba(0, 0, 0, .6);*/
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
}


footer{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .25em;
    margin-bottom: .25em;
    color: white;
    border: 2px solid rgb(165, 165, 165);
}

.listi{
    padding-left: .5em;
    color: black;
    padding-left: .5em;
    padding-right: .5em;

}
.heimildir{
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;

}
.heimildir>h3{
    color: black;
}
a:link,a:visited{
    color: black;
}



.maps{
    width: 100%;

}

dl{
    font-size: 20px;
    text-decoration: bold;
}
header>h1{
    /*transform: rotate(5deg);*/
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: 90000;
    text-align: center;
}
