* {
    box-sizing: border-box;
}
/*allt*/
/*header grid*/
.nafn{
    grid-area: nafn;
}
.logo{
    grid-area: logo;
}
.hed1{
    grid-area: hed1;
}
.hed2{
    grid-area: hed2;
}
.hed3{
    grid-area: hed3;
}
.hr{
    grid-area: hr;
}
/*main grid*/
.general{
    grid-area: general;
}
.dlc{
    grid-area: dlc;
}
.ac1{
    grid-area: ac1;
}
.acV{
    grid-area: acV;
}
.mobile{
    grid-area: mobile;
}
.mRammi{
    grid-area: mRammi;
}
/*footer grid*/
.listi{
    grid-area: listi;
}
.heimildir{
    grid-area: heimildir;
}
.maps{
    grid-area: maps;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*header*/
body{
    margin: 0;
    background-color: white;
}
header{
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
    "nafn nafn nafn"
    "longLine longLine longLine"
    "hed1 hed2 hed3"
    "none none none";
    
    background-color: #184E77;
}
header>h1{
    font-family: 'Sue Ellen Francisco', cursive;
    font-weight: 90000;
    text-align: center;
    color: #76C893;
}
.hed1,.hed2,.hed3{
    border: #184E77 ;
    margin-left: .25em;
    margin-right: .25em;
    margin-top: -1em;
    text-align: center;
    background-color: #67B99A;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*main*/
.line{
    border: #036666 solid 1px;
    width: 25%;
}
main{
    background-color: #184E77;
    margin-top: -.5em;
    margin-bottom: -1em;
}
.general{
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    color: black;
    border: solid #67B99A  2px;
    background-color: #67B99A;
}
.dlc{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    color: black;
    border: solid #67B99A 2px;
    /*background: rgba(0, 0, 0, .6);*/
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    background-color: #67B99A;
}
.myndir{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ac1"
    "acV";
}
.mRammi{
    border: #67B99A;
    background-color:   #67B99A;
    margin: .5em;
    margin-top: 1em;
}
img{
    width: 100%;
    height: auto;
}
.mobile{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    border: solid #67B99A 2px;
    /*background: rgba(0, 0, 0, .6);*/
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    background-color: #67B99A;

}
.dlc>h3,.mobile>h3,.general>h3{
    color: #036666 ;
    text-align: center;
    text-decoration: bold;
}
.dlc>dt,.mobile>dt{
    line-height: 120%;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
/*footer*/
.bglit{
    background-color: #184E77;
    margin-bottom: -1em;
}
footer{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .25em;
    margin-bottom: .25em;
    color: #036666;
    background-color: #67B99A ;
    /*border: 2px solid rgb(165, 165, 165);*/
    padding-top: .3em;
}
.listi{
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 1em;

}
.listi>dl>dt{
    color: #036666;
}
.listi>dl>dt>dd{
    color: #036666;
}
.heimildir{
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;

}
.heimildir>h3{
    color: #036666;
    text-align: center;
    text-decoration: bold;
}
.maps{
    width: auto;
    margin: .5em;
}
a:link,a:visited{
    color: #036666   ;
}
@media  only screen and (min-width:30em){
    /*header*/
    body{
        margin: 0;
        background-color: white;
    }
    header{
        padding: .5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "nafn nafn nafn nafn nafn nafn nafn nafn"
        " hr hr hr hr hr  hed1  hed2  hed3"; 
    }
    header>h1{
        font-family: 'Sue Ellen Francisco', cursive;
        font-weight: 90000;
        text-align: left;
        color: #76C893;
    }
    .hed1,.hed2,.hed3{
        border: #184E77 ;
        margin-left: .25em;
        margin-right: .25em;
        margin-top: -1em;
        text-align: center;
        background-color: #67B99A;
    }
    .hr{
        border: #184E77 solid 10px;
    }
    
    /*----------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------*/
    /*main*/
    .line{
        border: #036666 solid 1px;
        width: 25%;
    }
    main{
        background-color: #184E77;
        margin-top: -.5em;
        margin-bottom: -1em;
    }
    .general{
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        color: black;
        border: solid #67B99A  2px;
        background-color: #67B99A;
    }
    .dlc{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        color: black;
        border: solid #67B99A 2px;
        /*background: rgba(0, 0, 0, .6);*/
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        background-color: #67B99A;
    }
    .myndir{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ac1"
        "acV";
    }
    .mRammi{
        border: #67B99A;
        background-color:   #67B99A;
        margin: .5em;
        margin-top: 1em;
    }
    img{
        width: 100%;
        height: auto;
    }
    .mobile{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: black;
        border: solid #67B99A 2px;
        /*background: rgba(0, 0, 0, .6);*/
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        background-color: #67B99A;
    
    }
    .dlc>h3,.mobile>h3,.general>h3{
        color: #036666 ;
        text-align: center;
        text-decoration: bold;
    }
    .dlc>dt,.mobile>dt{
        line-height: 120%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------*/
    /*footer*/
    .bglit{
        background-color: #184E77;
        margin-bottom: -1em;
    }
    footer{
        display: grid;
        margin-left: .5em;
        margin-right: .5em;
        margin-top: .25em;
        margin-bottom: .25em;
        color: #036666;
        background-color: #67B99A ;
        /*border: 2px solid rgb(165, 165, 165);*/
        padding-top: .3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "listi heimildir"
        "maps maps";
    }
    .listi{
        padding-left: .5em;
        padding-right: .5em;
        margin-top: 1em;
    
    }
    .listi>dl>dt{
        color: #036666;
    }
    .listi>dl>dt>dd{
        color: #036666;
    }
    .heimildir{
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
    
    }
    .heimildir>h3{
        color: #036666;
        text-align: center;
        text-decoration: bold;
    }
    .maps{
        width: auto;
        margin: .5em;
    }
    a:link,a:visited{
        color: #036666   ;
    }
}
@media  only screen and (min-width:38.635em){
    /*header*/
    body{
        margin: 0;
        background-color: white;
    }
    header{
        padding: .5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "nafn nafn nafn nafn nafn nafn nafn nafn"
        " hr hr hr hr hr  hed1  hed2  hed3"; 
    }
    header>h1{
        font-family: 'Sue Ellen Francisco', cursive;
        font-weight: 90000;
        text-align: left;
        color: #76C893;
    }
    .hed1,.hed2,.hed3{
        border: #184E77 ;
        margin-left: .25em;
        margin-right: .25em;
        margin-top: -1em;
        text-align: center;
        background-color: #67B99A;
    }
    .hr{
        border: #184E77 solid 10px;
    }
    
    /*----------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------*/
    /*main*/
    .line{
        border: #036666 solid 1px;
        width: 25%;
    }
    main{
        display: grid;
        background-color: #184E77;
        margin-top: -.5em;
        margin-bottom: -1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "general dlc"
        "mobile dlc"
        "mRammi mRammi";
    }
    .general{
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        color: black;
        border: solid #67B99A  2px;
        background-color: #67B99A;
    }
    .dlc{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        color: black;
        border: solid #67B99A 2px;
        /*background: rgba(0, 0, 0, .6);*/
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        background-color: #67B99A;
    }
    .myndir{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ac1"
        "acV";
    }
    .mRammi{
        border: #67B99A;
        background-color:   #67B99A;
        margin: .5em;
        margin-top: 1em;
    }
    img{
        width: 100%;
        height: auto;
    }
    .mobile{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: black;
        border: solid #67B99A 2px;
        /*background: rgba(0, 0, 0, .6);*/
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        background-color: #67B99A;
    
    }
    .dlc>h3,.mobile>h3,.general>h3{
        color: #036666 ;
        text-align: center;
        text-decoration: bold;
    }
    .dlc>dt,.mobile>dt{
        line-height: 120%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------*/
    /*footer*/
    .bglit{
        background-color: #184E77;
        margin-bottom: -1em;
    }
    footer{
        display: grid;
        margin-left: .5em;
        margin-right: .5em;
        margin-top: .25em;
        margin-bottom: .25em;
        color: #036666;
        background-color: #67B99A ;
        /*border: 2px solid rgb(165, 165, 165);*/
        padding-top: .3em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "listi heimildir"
        "maps maps";
    }
    .listi{
        padding-left: .5em;
        padding-right: .5em;
        margin-top: 1em;
    
    }
    .listi>dl>dt{
        color: #036666;
    }
    .listi>dl>dt>dd{
        color: #036666;
    }
    .heimildir{
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
    
    }
    .heimildir>h3{
        color: #036666;
        text-align: center;
        text-decoration: bold;
    }
    .maps{
        width: auto;
        margin: .5em;
    }
    a:link,a:visited{
        color: #036666   ;
    }
}
@media  only screen and (min-width:38.635em){
    /*max width*/
    header{
        margin: 0 auto;
        max-width: 75em;
    }
    main{
        margin: 0 auto;
        max-width: 70em;
    }
    .listi, .heimildir, .maps{
        margin: 0 auto;
        max-width: 70em;
    }
    
    /*header*/
    header{
        padding: .5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "nafn nafn nafn nafn nafn nafn nafn nafn"
        " hr hr hr hr hr  hed1  hed2  hed3"; 
    }
    header>h1{
        font-family: 'Sue Ellen Francisco', cursive;
        font-weight: 90000;
        text-align: left;
        color: #76C893;
    }
    .hed1,.hed2,.hed3{
        border: #184E77 ;
        margin-left: .25em;
        margin-right: .25em;
        margin-top: -1em;
        text-align: center;
        background-color: #67B99A;
    }
    .hr{
        border: #184E77 solid 10px;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------*/
    /*main*/
    .line{
        border: #036666 solid 1px;
        width: 25%;
    }
    main{
        display: grid;
        background-color: #184E77;
        margin-top: -.5em;
        margin-bottom: -1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "general dlc"
        "mobile dlc"
        "mRammi mRammi";
    }
    .general{
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        color: black;
        border: solid #67B99A  2px;
        background-color: #67B99A;
    }
    .dlc{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        color: black;
        border: solid #67B99A 2px;
        /*background: rgba(0, 0, 0, .6);*/
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        background-color: #67B99A;
    }
    .myndir{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "ac1"
        "acV";
    }
    .mRammi{
        border: #67B99A;
        background-color:   #67B99A;
        margin: .5em;
        margin-top: 1em;
    }
    img{
        width: 100%;
        height: auto;
    }
    .mobile{
        margin-left: .5em;
        margin-right: .5em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: black;
        border: solid #67B99A 2px;
        /*background: rgba(0, 0, 0, .6);*/
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        background-color: #67B99A;
    
    }
    .dlc>h3,.mobile>h3,.general>h3{
        color: #036666 ;
        text-align: center;
        text-decoration: bold;
    }
    .dlc>dt,.mobile>dt{
        line-height: 120%;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*----------------------------------------------------------------------------------------------------------------*/
    /*footer*/
    .bglit{
        background-color: #184E77;
        margin-bottom: -1em;
    }
    footer{
        display: grid;
        color: #036666;
        background-color: #67B99A ;
        padding-top: .3em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "listi heimildir maps";
        
    }
    .listi{
        padding-left: .5em;
        padding-right: .5em;
        margin-top: 1em;
    
    }
    .listi>dl>dt{
        color: #036666;
    }
    .listi>dl>dt>dd{
        color: #036666;
    }
    .heimildir{
        padding-left: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
    
    }
    .heimildir>h3{
        color: #036666;
        text-align: center;
        text-decoration: bold;
    }
    .maps{
        width: auto;
        margin: .5em;
    }
    a:link,a:visited{
        color: #036666   ;
    }
}