* {box-sizing: border-box;}


body {
    font-family: sans-serif;
    background-color: green;
     }
.frame{
    display: grid;
    border: black solid 2px;
}

.col-2, .col-3, .col-4{
    grid-template-columns: 1fr;

}


@media screen and (min-width:37.5em){
    body {
	font-family: sans-serif;
    background-color: purple;

    }

    .frame{
        display: grid;
        grid-gap: 1em;
        padding: 1em;
        border: black solid 2px;
    }   
   
    .col-2, .col-3{
        grid-template-columns: 1fr;
        
    }

    .col-4{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
    
}

@media  screen and (min-width:48em) {
    body {
        font-family: sans-serif;
        background-color: yellow;
         
    }

    .frame{
        display:grid;
        grid-gap: 1em;
        padding: 1em;
        border: black solid 2px;
    }

    .col-2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }
    
    .col-3{
        grid-template-columns: repeat(3,1fr);
    
    }
    
    .col-4{
        grid-template-columns: repeat(4, 1fr);
    
    }

}





@media screen and (min-width:60em){
    body {
        max-width: 60em;
        margin: 0 auto;
        font-family: sans-serif;
        background-color: white;
         
    }

    .frame{
        display: grid;
        grid-gap: 1em;
        padding: 1em;
        border: black solid 2px;
    }

    .col-2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }
    
    .col-3{
        grid-template-columns: repeat(3,1fr);
    
    }
    
    .col-4{
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
    
    }
    
}